[submodule "sidewalk"]
	path = sidewalk
	url = https://github.com/nrfconnect/sdk-sidewalk
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/nrfconnect/sdk-zephyr
[submodule "nrf"]
	path = nrf
	url = https://github.com/nrfconnect/sdk-nrf
[submodule "nrfxlib"]
	path = nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib
