[submodule "tools/bsim"]
	path = tools/bsim
	url = https://github.com/BabbleSim/bsim_west
[submodule "tools/edtt"]
	path = tools/edtt
	url = https://github.com/zephyrproject-rtos/edtt
[submodule "tools/net-tools"]
	path = tools/net-tools
	url = https://github.com/zephyrproject-rtos/net-tools
[submodule "sidewalk"]
	path = sidewalk
	url = https://github.com/nrfconnect/sdk-sidewalk
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/nrfconnect/sdk-zephyr
[submodule "nrf"]
	path = nrf
	url = https://github.com/nrfconnect/sdk-nrf
[submodule "nrfxlib"]
	path = nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib
